# Nombre del pipeline
name: 0.$(Date:yyMMdd)$(Rev:.r)  # Trying to set '$(Build.BuildNumber)'
# Variables definidas para el pipeline (ajusta estos valores según tu configuración)
variables:
#---v EDITABLE-----------------------------------------------------------------------------------------------    
  - name: MY_SONAR_KEY
    value: com.veradat.node.manager:veradat-node-manager
  - name: COMPONENT_NAME
    value: veradat-node-manager
#---^ EDITABLE-----------------------------------------------------------------------------------------------    
  - name: system.debug
    value: 'true'
  - name: JAVA_HOME_17_X64
    value: /usr/lib/jvm/java-17-openjdk-amd64
  - name: MAVEN
    value: /opt/maven
  - name: MAVEN_CACHE_FOLDER
    value: $(Pipeline.Workspace)/.m2/repository
  - name: MAVEN_OPTS 
    value: '-Xmx1024m -Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'  
resources:
  repositories:
  - repository: pipeline-template
    type: git
    name: pipeline-template
    ref: main
  - repository: self
trigger: 
  branches:
    include: 
    - development
    - integration*
# Definición del pool de agentes a utilizar (ejemplo usando Ubuntu)
pool: Default
steps:
  - checkout: self
    fetchDepth: 0
    #path: $(Build.SourcesDirectory)
  - checkout: pipeline-template
  - task: CopyFiles@2
    displayName: 'Copy Files from: /opt/apache-maven-3.9.4/conf/'
    inputs:
      SourceFolder: '/opt/apache-maven-3.9.4/conf/'
      Contents: settings.xml
      TargetFolder: '$(System.DefaultWorkingDirectory)/$(COMPONENT_NAME)/conf'
  - template:
     java-springboot-steps.yml@pipeline-template
    parameters:
      mySonarKey: $(MY_SONAR_KEY)
      componentName: $(COMPONENT_NAME)
      pomPath: $(Build.Repository.Name)
      javaPath: $(JAVA_HOME_17_X64)
      mavenPath: $(MAVEN)
      mavenCachePath: $(MAVEN_CACHE_FOLDER)
      mavenOpts: $(MAVEN_OPTS)
      dockerFileTemplate: 'Dockerfile-otel'